# Virtual environments
.venv/
venv/

# Byte-compiled and cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Editor-specific files
.vscode/
.idea/
*.swp

# Logs
*.log

# MacOS system files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
